/*Seletor Universal - Aplica a propriedade a todos itens do projeto*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Seletor Raiz*/
:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(0255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

/*Seletor da Tag Body*/
body {
  padding-top: 56px;
  background: var(--bg-url) no-repeat top center/ cover;
  height: 100vh;
}

/*Seletor universal da Tag Body - Todos os itens contidos no Body recebem essas propriedades*/
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

/*Mobile-Dark Container*/
#mdcontainer {
  width: 100%;
  max-width: 588px;
  margin: auto;
  padding: 0px 24px;
}
/*Mobile-Dark Profile - IMG de Perfil*/
#mdprofile {
  padding: 24px;
}
#mdprofile img {
  display: block;
  width: 112px;
  margin: auto;
}

/*Mobile-Dark Text - @ do perfil */
#mdprofile p {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* Botão de modo Claro/Escuro */
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}
#switch button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background: white var(--switch-bg-url) no-repeat center;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}

.light #switch button {
  right: 0;
  left: initial;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  border-radius: 9999px;
  border: 1px solid var(--stroke-color);
  background: var(--surface-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
/* Lista desordenada de Itens */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0px;
}

/*links*/
ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;

  /* Style CSS */
  border-radius: 8px;
  border: 1px solid var(--stroke-color);
  background: var(--surface-color);

  /*=webkit- Aplica modo de compatibilidade com alguns navegadores para poder usar o filter:Blur*/
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

/*Pseudo-Selector*/
ul li a:hover {
  border: 1.5px solid var(--text-color);
  background: var(--surface-color-hover);
}

/* Icones para redes sociais */
#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0px;
  font-size: 24px;
  gap: 16px;
}

#social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 50%;
  transition: background 0.9s;
}

#social-links a:hover {
  background-color: var(--highlight-color);
}

/*Rodapé da página*/
footer {
  text-align: center;
  padding: 24px 0px;
}

/*Condição para alteração do Background em telas maiores */

@media (min-width: 700px) {
  :root{
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light{
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }

}